@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  font-size: 140%;
font-weight: lighter;
padding: 3%;
margin-right: 60%;
margin-left: 2%;
position: relative;
}

.navbarItems{
  color: #0a0a0a;
  text-decoration: none;
  padding: 1%;
position: relative;
}

.footer{
  font-size: 120%;
font-weight: lighter;
margin-top: 10%;
margin-bottom: 10%

}

.footerItems{
  color: #f3f3f3;
}

.linha{
  border-bottom: 4px solid #0a0a0a;
  border:solid;
  display:flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #171717;
  
}


.cards{
  display:flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 1%;
  

}

.card:hover{
  background-color: #f3f3f3;
}



.t{
  font-weight: bold;
  font-size: 300%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.t2{
  font-weight: bold;
  font-size: 220%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.tp{
  font-weight: lighter;
  font-size: 350%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
   color: rgb(0, 0, 0);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   position: relative;
}

.p{
  font-size: 150%;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.tudo{
  display: flex;
  justify-content: space-around;
}

.texto{
  width: 60%;
}

.lista{
  width:80%;
  
}

.contato{
  display: flex;
  justify-content: center;
}

.caixa_texto{
  background-color: #cccccc;
  color: #8e8e8e;
  margin-bottom: 10%;
  padding: 5%;
  font-size: large;

}


.caixa_texto_m{
  background-color: #cccccc;
  color: #8e8e8e;
  margin-bottom: 10%;
  padding: 5%;
  padding-bottom: 40%;
  font-size: large;

}

.tc{
margin-bottom: 10%;
}

.image{

 
background-image: url(/images/pexels-divinetechygirl-1181298.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;

z-index: -1;
}

.fundo{
  background-color: white;


}
